table#projects{
    width: 80%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
   
}

td img{
    display: block;
    margin-left: auto;
    margin-right:
}

td p{
    color: #3D3B35;
    text-align: center;
    font-weight: bold;
}

h2{
    color: ;
    padding-top: ;
    padding: bottom: ;
    text-align: center;
}

h4{
    color: ;
    padding-top: ;
    padding: bottom: ;
    text-align: center;
}