#form_func{
    width:25%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

label{
    color: #FFFFFF;
    font-size: 18px;
    text-align: right;
}

#form_func input{
    color: #17334c;
    border: 1px solid #17334c;
    width: 200px;
    padding: 5px;
    outline: none;
    border-radius: 2px;
}

#form_func textarea{
    color: #17334c;
    border: 1px solid #17334c;
    width: 200px;
    padding: 5px;
    outline: none;
    border-radius: 2px;
}

button{
    color: #17334C;
    border: 1px solid #17334c;
    border-radius: 2px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

#form_vendas{
    width: 20%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

#form_vendas input[type=text], input[type=number]{
    color: #17334c;
    border: 1px solid #17334c;
    width: 300px;
    padding: 5px;
    outline: none;
    border-radius: 2px;
}

#form_vendas textarea{
    color: #17334c;
    border: 1px solid #17334c;
    width: 300px;
    height: 300px;
    padding: 5px;
    outline: none;
    border-radius: 2px;
}

select{
    width: 310px;
    padding: 5px;
    color: #17334c;
    border: 1px solid #17334c;
}

#form_vendas span{
    color: #17334c;
    margin-right: 62px;

}

